#navbarNav{
    background-color:lightslategray;
}

#Nombres{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.container{
    padding: 2rem;
}
